<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <Link rel="Stylesheet" href="./view.css"/>
</head>
<body>
    <header>
        <h1 id="blog">Triumph Blog</h1>
        <h3 id="sub">Experience all the exciting and trending news around the world</h3>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Resources</li>
                <li>Photos</li>
                <div id="search">
                    <input type="text" id="text"/>
                    <input type="button" value="Search" id="btn"/>
                </div>
            </ul>
        </nav>
    </header>
    <div class="main">
            <div class="body">
                <h2>Latest news update</h2>
                <a href=""><h1>Saving the Rainforest with Old Cell Phones</h1></a>
                    How can we police large swaths of endangered rainforest with something we all have at home? The incredible startup Rainforest Connection is taking our old cell phones and giving them a second life as protectors of some of the most at-risk habitat on the planet!
                    <p>
                        <h6>posted by oluwapelumi, 10:28pm monday 2018.</h6>
                        <a href=""><h1>Helping the Blind See With Their Tongues</h1></a>
                    Have you heard of the device that uses the tongue to transmit visual information to the brain? Today, we’ll take a look at the lives of Andy and Erik to see the potential in this amazing innovation!
                    </p>
                    <a href=""><h1>Alpha Jetman Blows the Doors of Possibility Wide Open</h1></a>
                    Sometimes we need an eccentric person with a crazy idea to push back the edge of possibility for us all! Take a look at a wonder in innovation you will not believe!
                        <a href=""><h1>What’s the Deal with Virtual Reality?</h1></a>
                    Talk about virtual reality feels like it’s everywhere, but why all the hype? Today we explore why VR may be the next big thing, and what’s going on in our brains to make these digital worlds so real (and fun)!
            </div>
            <div col-sm-8>
            <aside>
                <section>
                    <a href=""><h1>Mini tower desktop</h1></a>
                    An article (with the linguistic glossing abbreviation art)<br/> is a word that is used with a noun (as a standalone<br/> word or a prefix or suffix) to specify grammatical definiteness of the noun, and <br/>in some languages extending to volume or numerical scope.
                </section>
                <section>
                    <a href=""><h1>Mini tower desktop</h1></a>
                    An article (with the linguistic glossing abbreviation art)<br/> is a word that is used with a noun (as a standalone<br/> word or a prefix or suffix) to specify grammatical definiteness of the noun, and <br/>in some languages extending to volume or numerical scope.
                </section>
                <section>
                    <a href=""><h1>Mini tower desktop</h1></a>
                    An article (with the linguistic glossing abbreviation art)<br/> is a word that is used with a noun (as a standalone<br/> word or a prefix or suffix) to specify grammatical definiteness of the noun, and <br/>in some languages extending to volume or numerical scope.
                </section>
                <section>
                    <a href=""><h1>Mini tower desktop</h1></a>
                    An article (with the linguistic glossing abbreviation art)<br/> is a word that is used with a noun (as a standalone<br/> word or a prefix or suffix) to specify grammatical definiteness of the noun, and <br/>in some languages extending to volume or numerical scope.
                </section>
                
            </aside>
            </div>
            </div>
            
</body>
</html>